{{ define "main" }}
<section class="single-page-header" id="blogs-back" style='box-shadow:none;position: fixed;width: 100%;top: 5rem;'>
</section>

<section id="blog-full-width">
    <div class="container">
        <h1 class="wow about upcoming fadeInUp animated cd-headline slide" data-wow-delay=".4s">
            <span>Projects</span>
        </h1>
            <div class="row">
                <div class="col-md-12">
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
                    {{ range $paginator.Pages }}
                    <div class="sng-page">
                        <div class="col-md-8 left">
                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                <div class="blog-content">
                                    <h2 class="blogpost-title">
                                        <a href="{{ .Permalink }}" style="font-weight: bold;">{{ .Title }}</a>
                                    </h2>
                                    <div class="blog-meta">
                                        <span>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
                                        {{ with .Params.Location }}<span>at
                                            {{ . }}
                                        </span>
                                        {{ end }}
                                        {{ with .Params.tags }}
                                        <span>
                                            {{ delimit . ", " }}
                                        </span>
                                        {{ end }}
                                    </div>
                                    <p>
                                        {{ .Summary }}
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 right wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                            <div class="blog-post-image">
                                <a href="{{ .Permalink }}">
                                    {{ with .Params.image }}<img class="img-fluid-work-event" src="{{ . | absURL }}" alt="post-image"/>{{ end }}
                                </a>
                            </div>
                        </div>
                    </div>
                {{ end }}
                <div>
                    {{ partial "pagination" . }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "particle-blogs.html" }}

{{ end }}