{{ if .Site.Data.announcement.enable }}
{{ "<!-- announcement Section Start -->" | safeHTML }}
<section id="feature">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Data.announcement.title }}<h1 class="title-announcement wow fadeInDown" data-wow-delay=".3s">{{ . }}</h1>{{ end }}
        </div>
        <div class="row-ann">
            {{ range $index, $elemrnt := .Site.Data.announcement.item }}
            <div class="ann-content">
                {{ $delay := 300 }}
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                    {{ range $index, $ele := $elemrnt }}
                        {{ $val := add 1 $index }}
                        {{ $top := print "media-top" $val }}
                        {{ $middle := print "media-middle" $val }}
                        {{ $bottom := print "media-bottom" $val }}
                        {{ $link := print "media-link" $val }}

                        <div class="{{ $top }}">
                            {{ with .name }}<p>{{ . }}</p>{{ end }}
                        </div>
                        <div class="{{ $middle }}">
                            {{ with .title }}<p>{{ . }}</p>{{ end }}
                        </div>
                        <div class="{{ $bottom }}">
                            {{ with .description }}<p>{{ . }}</p>{{ end }}
                        </div>
                        <div class="{{ $link }}">
                            <a href="{{ with .url }}{{ . }}{{ end }}">{{ with .linkName }}{{ . }}{{ end }}</a>
                        </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- announcement Section End -->" | safeHTML }}
{{ end }}