{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area">
    <div class="container center-verticle" style="z-index: 9;">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".2s">
                    {{ "<!-- Slider -->" | safeHTML}}
                    <section class="cd-intro intro-landing">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            {{ with .Site.Params.banner.heading }}<span class="inter">{{ . }}</span>{{ end }}
                        </h1>
                    </section>
                    {{ with .Site.Params.banner.description }}<h2 id="landing-text" class="wow fadeInUp animated inter" data-wow-delay=".6s">{{ . }}</h2>{{ end }}
                    <div class="div-project">
                        <span class="view-project"><a href="{{ .Site.Params.banner.projectLink }}">View Our Projects</a></span>
                    </div>
                    <div class="scroll">
                        <img src="{{ .Site.Params.banner.scroll | absURL }}" alt="scroll">
                        <img src="{{ .Site.Params.banner.down | absURL }}" alt="scroll" style="margin-top: 1vh;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}