<section id="cerebro-full-width" style='background-image: url("{{ .Site.Params.cerebroBack | absURL }}");height: 14rem;'>
    <div class="container cerebroContainer">
        <div class="row">
            <div class="col-md-4 cerebro">
                <img class="img-cerebro" alt="" src="{{ .Site.Params.cerebro | absURL }}">
                <div class="cerebro-text">
                    Visit Cerebro, our competition portal. 
                </div>
            </div>
            <div class="col-md-8">
                <div class="link-cerebro">
                    <a href="http://cerebro.sdslabs.co/" class="visit-cerebro">Visit Cerebro</a>
                </div>
            </div>
        </div>
    </div>
</section>