<section class="single-page-header" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="block wow fadeInUp" data-wow-delay=".2s">
        <section class="cd-intro">
            <h1 class="wow about fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                {{ with .Site.Params.about.title }}<span>{{ . }}</span>{{ end }}
            </h1>
        </section>
        {{ with .Site.Params.about.content }}<p class="wow fadeInUp animated" data-wow-delay=".6s">{{ . }}</p>{{ end }}
    </div>
</section>