{{ if .Site.Data.sisterGroup.enable }}
{{ "<!-- sisterGroup Section Start -->" | safeHTML }}
<section id="sisterGroups" style="background-color: #FCFCFC;">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Data.sisterGroup.title }}<div class="sister subtitle wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</div>{{ end }}
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6" style="width: 100%; display:contents;">
                {{ $delay := 300 }}
                <div class="wow fadeInLeft animated sistergp" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                    {{ range $index, $element := .Site.Data.sisterGroup.details }}
                    <div class="grps">
                        <a href="{{ $element.link }}" class="zoomIn">
                            {{ with .image }}
                            <img src="{{ . | absURL }}" class="sistergroup-logo">
                            {{ end }}
                        </a>
                        {{ with .name }}
                        <a href="{{ $element.link }}">
                            <h2>{{ . }}</h2>
                        </a> {{ end }}
                        {{ with .description }}<p>{{ . }}</p>{{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- sisterGroup Section End -->" | safeHTML }}
{{ end }}